.secondary-container
{
display: inline-block;
display: flex;
flex-direction: column;
margin-left: 50px;
scroll-behavior: smooth;
 

}

.exp 
{
    font-family: "Saira Extra Condensed",  sans-serif;
    color:rgb(52, 58, 64);
    
}

.experience
{
    font-size: 50px;
    display: inline-block;
    margin-bottom: 0;
}
.date , .date1
{
    text-align: right;
    color: rgb(189, 93, 56);
    font-family: 'Open Sans', serif;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.freelance
{
    margin-top: 0;
}

.about
{
    margin-top: 0;
    color:  #868e96; 
    font-weight: 400;
    margin-bottom: 500px;
}