
 html
 {
    scroll-behavior: smooth;
 }
 .main-container
{
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin-left: 250px;
    
    
}

.header
{
    margin-bottom: 260px;
    padding-top: 150px;
    margin-left: 50px;
    

}
.Name
{
    font-family: "Saira Extra Condensed",  sans-serif;
    color:rgb(52, 58, 64);
   
}

.first-name
{
    font-size:100px ;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: -35px;
}

.second-name , .email
{
    color: rgb(189, 93, 56);
}

.address
{
    margin-top:0;
    margin-left: 5px;
    font-size: 23px;
    color:  #868e96;
    font-weight: 500;
}

.introduction
{
   color:  #868e96; 
   
   font-weight: 400;
   padding-top: 20px;
}


.fa-square-linkedin , .fa-square-instagram
{
   font-size: 50px;
    
}
a {
    text-decoration: none;
    border: none;
}
.footer-container{
    display: inline-block;
    margin-bottom: 0;
    align-items: center;
    margin-left: 420px;
}
.social-links{
    margin-left: 150px;
}
.legal-links{
    margin-left: 70px;
}