.interest
{
    font-family: "Saira Extra Condensed", sans-serif;
    color: rgb(52, 58, 64);
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 0;
}
.more
{
    
  color: rgb(52, 58, 64);
  font-weight: 400;
   margin-bottom: 0;
   margin-top: 0;
    margin-left: 50px;
    color: #868e96;
    margin-bottom: 600px;
}